<?xml version="1.0" ?>
<robot name="realsense2_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false" />
  <xacro:include filename="$(find hive_gazebo)/urdf/camera1/_d435i.urdf.xacro"/>

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <link name="ceiling_link" />
  <xacro:sensor_d435i parent="ceiling_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0 0 3.5" rpy="0 ${M_PI}/2 0"/>
  </xacro:sensor_d435i>
</robot>

