<?xml version="1.0"?>
<robot name="camera1">
    <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>
    <!-- world link-->
    <link name="world"/>

    <joint name="world_ceiling_joint" type="fixed">
        <parent link="world"/>
        <child link="ceiling_link"/>
        <origin xyz="0 0 2.5" rpy="0 0 0"/>
    </joint>

    <!-- ceiling link-->
    <link name="ceiling_link"/>

    <!-- 카메라 링크 정의 -->
    <link name="camera1_link">
        <visual>
            <material name="white"/>
            <geometry>
                <cylinder length="0.1" radius="0.05"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 1.57 0"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.1" radius="0.05"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 1.57 0"/>
        </collision>
        <inertial>
            <origin xyz="0 0 0" />
            <mass value="0.005" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
    </link>

    <!-- 천장과 카메라를 연결하는 고정 조인트 정의 -->
    <joint name="ceiling_to_camera" type="fixed">
        <parent link="ceiling_link"/>
        <child link="camera1_link"/>
        <origin xyz="1 0 -0.05" rpy="0 1.57 0"/>
    </joint>

    <!-- Gazebo 플러그인을 사용하여 카메라 센서 추가 -->
    <gazebo reference="camera1_link">
        <sensor name="camera1" type="depth">
            <visualize>true</visualize>
            <update_rate>60.0</update_rate>
            <camera name="RS_D435i">
                <horizontal_fov>1.51844</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>B8G8R8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>10</far>
                </clip>
            </camera>
            <plugin name="camera1_controller" filename="libgazebo_ros_camera.so">
                <baseline>0.2</baseline>
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <frame_name>camera1_link</frame_name>
                <pointCloudTopicName>camera1/depth/points</pointCloudTopicName>
                <pointCloudCutoff>0.2</pointCloudCutoff>
                <pointCloudCutoffMax>10.0</pointCloudCutoffMax>
                <distortionK1>0.00001</distortionK1>
                <distortionK2>0.00001</distortionK2>
                <distortionK3>0.00001</distortionK3>
                <distortionT1>0.00001</distortionT1>
                <distortionT2>0.00001</distortionT2>
                <CxPrime>0</CxPrime>
                <Cx>0</Cx>
                <Cy>0</Cy>
                <focalLength>0</focalLength>
                <hackBaseline>0</hackBaseline>
            </plugin>
        </sensor>
    </gazebo>
</robot>
